.pat_blocker {
  position:fixed;
  top:0; right: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 99999;
  .inner {
    background: black;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    color: white;

    button {
      background: #e4685d;
      padding: 10px;
      border: none;
      border-radius: 5px;
      margin-top: 30px;
      text-transform: uppercase;

    }

  }
}